/* #region Common */

* 
{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

:root 
{
        --toboo-white: #ffffff;
        --toboo-dark: #000000;
        --toboo-gray: rgb(234, 234, 241);
        --toboo-graydark: rgb(183, 183, 191);
        --toboo-purple: rgb(148, 61, 225);
        --toboo-pink: rgb(210, 32, 166);
        --toboo-skyblue: rgb(52, 180, 232, 1);
        --toboo-limegreen: rgb(77, 194, 34);
        --toboo-green: #0f720ad6;
        --toboo-orange: orange;
        --toboo-red: red;
        --toboo-default-font-size: 16px;
}

img
{
        display: inline-block;
        vertical-align: middle;
}

h1
{
        font-size: 2.5rem;
        padding-left: 0.5rem;
        display: inline-block;
        vertical-align: middle;
}


h3 
{
        color: var(--bool-gray);
}

body
{
        background-color: var(--toboo-gray);
}



/* #endregion Common */

/* #region Utility */

.skyblue
{
        background-color: var(--toboo-skyblue);
}

.orange
{
        background-color: var(--toboo-orange);
}

.purple
{
        background-color: var(--toboo-purple);
}

.green
{
        background-color: var(--toboo-green);
}

.pink
{
        background-color: var(--toboo-pink);
}

.greenlime
{
        background-color: var(--toboo-limegreen);
}

.green_line
{
        color: var(--toboo-green);
        border: 1px solid var(--toboo-green)
}

.red_line
{
        color: var(--toboo-red);
        border: 1px solid var(--toboo-red);
}

.py_1 
{
        padding-top: 1rem;
        padding-bottom: 1rem;
}

.py_2 
{
        padding-top: 2rem;
        padding-bottom: 2rem;
}

.pl_1 
{
        padding-left: 1rem;
}

.pl_2 
{
        padding-left: 2rem;
}

.pt_1 
{
        padding-top: 1rem;
}

.w_80 
{
        width: 80%;
}

.text_left 
{
        text-align: left;
}

/* #endregion Utility */



/* #region Header */

#header_style 
{
        background-color: var(--toboo-white);
}


/* #endregion Header */

/* #region Main */
#main_style
{
        width: 80%;
        margin: auto;
        background-color: var(--toboo-white); 
        padding-bottom: 4rem;
}

.sub_header
{
        height: 3rem;
        background-color: var(--toboo-white);
        border-bottom: 1px solid var(--toboo-gray);
        margin-top: 3rem;
}

.header_labels
{
        
        padding: 0.5rem;
        display: inline-block;
        margin-top: 0.4rem;
        border-radius: 8px;
}

.hl_sp1
{
        border: 1px solid var(--toboo-skyblue);
        background-color: var(--toboo-skyblue);
        color: var(--toboo-white);        
        margin-left: 6rem;
        /*vertical-align: middle;*/
}

.hl_sp2
{
        border: 1px solid var(--toboo-graydark);
        background-color: var(--toboo-wite);
        color: var(--toboo-graydark);
        margin-left: 1rem;
        /*vertical-align: middle;*/
}

.name_task
{
        margin-top: 3rem;
        /*border: 1px solid black;*/
        margin-left: 6rem;   
        font-size: 1.5rem;
        font-weight: bold;
}

.symbol
{
        display:inline-block; 
        border-radius: 50%;
        margin-left: 6rem;
        margin-top: 1rem;
}       

.task
{
        display:inline-block;     
        font-size: 1.3rem;
        /*font-weight: bold;*/
        padding-left: 1rem;;
}

.task_label
{
        display:inline-block;
        color: black;
        padding: 0.5rem;
        border-radius: 50%;
}

/* #endregion Main */


/* #region Footer */
footer
{
        margin-top: 1rem;
        padding-left: 12rem;
}

/* #endregion Footer */